{% include 'base/css.html' %}
	<div class='row'>

 <div class='col-12'>
                    <div class="alert alert-primary" role="alert">




<a href="determine-the-aparent-magnitude/">Determine the aparent magnitude</a>

<br>
<br>
<br>


<a href="determine-the-absolute-magnitude/">Determine the absolute magnitude</a>

<br>
<br>
<br>

<a href="determine-distance-from-Earth/">Determine distance from Earth</a>

<br>
<br>
<br>


<a href="determine-the-ratio-in-brightness/">Determine the ratio in brightness</a>

<br>
<br>
<br>


<a href="convert-light-years-in-parsecs/">Convert light years in parsecs</a>

<br>
<br>
<br>

<a href="calculate-the-annual-paralax/">Calculate the annual paralax</a>

<br>
<br>
<br>

<a href="calculate-the-flux-density/">Calculate the flux density</a>

<br>
<br>
<br>




<a href="display-stars-in-equinox-dates/">Display stars in equinox dates</a>

<br>
<br>
<br>



<a href="display-stars-in-solstice-dates/">Display stars in solstice dates</a>






   </div>

  </div>

</div>





















