



<br>
<br>

<a href="create-days-17/" class="btn ">Create days 17</a>

<br>
<br>
<br>

<a href="create-days-712/" class="btn ">Create days 712</a>

<br>
<br>
<br>

<a href="delete-days/" class="btn ">Delete days</a>

<br>
<br>
<br>

<a href="determine-visibility-of-stars/" class="btn ">Determine visibility of stars</a>
<br>
<br>
<br>

<a href="ref-magnitudes/" class="btn ">Ref magnitudes</a>

<br>
<br>
<br>

<a href="determine-most-visible-periods/" class="btn ">Determine most visible periods</a>

<br>
<br>
<br>

<a href="set-season/" class="btn ">Set season</a>

<br>
<br>
<br>

<a href="determine-most-visible-periods-seasons/" class="btn ">Determine most visible periods seasons</a>
<br>
<br>
<br>

<a href="set-spring-equinox/" class="btn ">Set spring equinox</a>

<br>
<br>
<br>

<a href="set-autumn-equinox/" class="btn ">Set autumn equinox</a>

<br>
<br>
<br>

<a href="set-summer-solstice/" class="btn ">Set summer solstice</a>

<br>
<br>
<br>

<a href="set-winter-solstice/" class="btn ">Set winter solstice</a>

<br>
<br>
<br>

<a href="determine-stars-movement/" class="btn ">Determine stars movement</a>

<br>
<br>
<br>


<a href="delete-objects-used-in-calculations/" class="btn ">Delete objects used in calculations</a>

<br>
<br>
<br>


<a href="visibility-of-a-star-in-seasons/" class="btn ">Determine visibility of a star in seasons</a>

<br>
<br>
<br>

<a href="find-which-stars-are-visible-in-equinox-dates/" class="btn ">Find which stars are visible in equinox dates</a>

<br>
<br>
<br>

<a href="find-which-stars-are-visible-in-autumn-equinox-dates/" class="btn ">Find which stars are visible in autumn equinox dates</a>


<br>
<br>
<br>

<a href="find-which-stars-are-visible-in-summer-solstice-dates/" class="btn ">Find which stars are visible in summer solstice dates</a>

<br>
<br>
<br>

<a href="find-which-stars-are-visible-in-winter-solstice-dates/" class="btn ">Find which stars are visible in winter solstice dates</a>

<br>
<br>
<br>


<a href="stars-visible-in-equinox-dates/" class="btn ">Display which stars are most visible in equinox dates</a>

<br>
<br>
<br>

<a href="stars-visible-in-solstice-dates/" class="btn ">Display which stars are most visible in solstice dates</a>



<br>
<br>
<br>

<a href="delete-the-DaysInSearchEngine-using-ids/" class="btn ">Delete the DaysInSearchEngine using ids</a>

<br>
<br>
<br>

<a href="set-total-lunar-eclipses/" class="btn ">Set total lunar eclipses</a>

<br>
<br>
<br>

<a href="determine-the-relative-position-of-stars/" class="btn ">Determine the relative position of stars</a>































































